<div class="login">
    <div class="login__image">
        <img src="assets/imgs/wallet.png" alt="image send money">
    </div>
    <div class="login__canguro">
        <div class="login__canguro__title">
            <h1 class="login__canguro__title__text">Eeasy to Manage <br> & <br>
            Easy to Pay</h1>
        </div>
        <form class="login__canguro__formulario" >
            <app-input
            [textLabel]="'E-mail'"  
            [textPlaceHolder]="'E-mail'"
            [type]="'email'"
            ></app-input>
            <app-input
            [textLabel]="'Password'"  
            [textPlaceHolder]="'Password'"
            [type]="'Password'"
            ></app-input>
            <app-button [textInput]="'Ingresar'" ></app-button>

        </form>
    </div>
</div>