<div class="home">
    <section class="home__header">
        <section class="home__header__opcion">
            <img src="assets/icons/close.svg" alt="">
        </section>
        <section class="home__header__opcion">
            <img src="assets/imgs/profile-1.jpg" alt="">
        </section>
    </section>
    <section class="home__person">
        <div class="home__person__title">
            <h1 class="home__person__title__text" >Good Morning</h1>
        </div>
        <div class="home__person__subtitle">
            <h3 class="home__person__subtitle__text" >
                {{personalInfo.Nombre}}
                {{personalInfo.Apellido}}

            </h3>
        </div>
    </section>
    <section class="home__card">

    </section>
    <section class="home__options">
        <div class="home__options__option">
            <img src="assets/icons/eyeVisibility.svg" alt="">
        </div>
        <div (click)="gotoForm()" class="home__options__option">
            <img src="assets/icons/add.svg" alt="">
        </div>
    </section>
    <section class="home__movements">
        <div class="home__movements__movement">
            <img class="home__movements__movement__icon" src="assets/imgs/spotify.png" alt="">
            <p class="home__movements__movement__title" >Spotify month</p>
            <span class="home__movements__movement__value" >- $4.0</span>
        </div>
        <div class="home__movements__movement">
            <img class="home__movements__movement__icon" src="assets/imgs/netflix.jpg" alt="">
            <p class="home__movements__movement__title" >Netlix month</p>
            <span class="home__movements__movement__value" >- $2.0</span>
        </div>
        <div class="home__movements__movement">
            <img class="home__movements__movement__icon" src="assets/imgs/spotify.png" alt="">
            <p class="home__movements__movement__title" >Spotify month</p>
            <span class="home__movements__movement__value" >- $4.0</span>
        </div>
    </section>
</div>

<app-loading *ngIf="loading" ></app-loading>